body {
    text-align: center;
}

form {
    max-width: 500px;
    max-height: 300px;
    margin: 0 auto;
    text-align: center;
}

table {
    margin: auto;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

#forecast th {
    font-size: 20px;
}

#forecast td {
    padding-left: 20px;
    padding-right: 20px;
}

#forecast {
    max-width: 500px;
    margin: auto;
}